<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой Веб-Сайт{% endblock %}</title>
</head>
<body>
    <header>
        <h1>{% block header %}Добро пожаловать на мой сайт{% endblock %}</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/order/create">Создать заказ</a></li>
            <li><a href="/orders">Список заказов</a></li>
            <li><a href="/product/create/">Форма добавления товара</a></li>
            <li><a href="/all_products">Список всех товаров</a></li>
            <li><a href="/client_orders/1/365/">Заказы клиента</a></li>
            <li><a href="/clients">Список клиентов</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2023. Web-Studio "Kiseliov's"</p>
    </footer>
</body>
</html>
